@import "./theme.css";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./prosemirror.css";
@source "../../node_modules/novel";

@theme inline {
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    @apply antialiased;
  }

  button, 
  [role="button"],
  a,
  select,
  label[for],
  input[type="submit"],
  input[type="button"],
  input[type="checkbox"],
  input[type="radio"] {
    cursor: pointer;
  }
}

/* Fix for Lenis smooth scroll on popups and modals */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Custom Thin Primary Scrollbar Global */
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }

  /* Support for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
  }
}

